@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
:root {
  --om-primary: #dc5f00;
  --om-primary-dark: #c15300;
  --om-primary-subtle: #e0721f;
  --om-primary-subtle2: #e78f4d;
  --om-primary-subtle3: #eeaf80;

  --om-secondary: #2d2d2e;
  --om-secondary-subtle: #3b3b3c;
  --om-secondary-subtle2: #444446;
  --om-secondary-subtle3: #a4a4a4;

  --om-success: #551bf8;
  --om-dark: #1b263b;
  --om-dark-subtle: #2c3a56;
  --om-info: #04c4c9;
  --om-info-dark: #0e8590;
  --om-blue: #081d40;
}
.bg-primary {
  background-color: var(--om-primary) !important;
}
.text-primary {
  color: var(--om-primary) !important;
}
.bg-primary-dark {
  background-color: var(--om-primary-dark) !important;
}
.bg-primary-subtle {
  background-color: var(--om-primary-subtle) !important;
}
.bg-primary-subtle2 {
  background-color: var(--om-primary-subtle2) !important;
}
.bg-primary-subtle3 {
  background-color: var(--om-primary-subtle3) !important;
}
.bg-secondary {
  background-color: var(--om-secondary) !important;
}
.bg-secondary-subtle {
  background-color: var(--om-secondary-subtle) !important;
}
.bg-secondary-subtle2 {
  background-color: var(--om-secondary-subtle2) !important;
}
.bg-secondary-subtle3 {
  background-color: var(--om-secondary-subtle3) !important;
}
.bg-inherit {
  background-color: var(--parent-bg-color);
}

/* ///////////////////////////////////////// */

@font-face {
  font-family: iranSans;
  src: url(../fonts/IRANSansWeb.woff);
}

* {
  font-family: iranSans;
}

body{
  padding-top: 0;
}

.header{
  /* height : 500px; */
}



.cat-item {
  width: 150px;
  height: 150px;
  transition: all 0.4s;
}

.category-title > div {
  background: linear-gradient(to right, var(--om-secondary), transparent, var(--om-secondary));
}

a {
  all: unset;
  cursor: pointer;
}

/* .menu-item {
  height: auto
} */

.menu-item-content {
  position: relative;
  background-color: var(--om-secondary-subtle2);
  word-wrap: break-word !important;
  line-height: 1.5em;
  overflow: hidden;
  height: 90px;
}

.menu-item-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: linear-gradient(to top, var(--om-secondary-subtle2), transparent);
}

.category {
  height: 200px;
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  -ms-overflow-style: none;
}

.border-dotted {
  border-style: 2px dotted black;
  border-spacing: 2em;
}

ul > li {
  border-bottom: 3px dashed var(--om-secondary-subtle3);
}
ul > li:last-child {
  border-bottom: none !important ;
}

/* .header {
  position: sticky;
  top: 0px;
} */



.black{
  /* background-color: black !important; */
  scale: 1.2;
  transition: all 0.7s;
  
}

