@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
:root.default-theme {
  --om-primary: #dc5f00;
  --om-primary-dark: #c15300;
  --om-primary-dark2: #70380d;
  --om-primary-subtle: #e0721f;
  --om-primary-subtle2: #e78f4d;
  --om-primary-subtle3: #eeaf80;

  --om-secondary: #2d2d2e;
  --om-secondary-subtle: #3b3b3c;
  --om-secondary-subtle2: #444446;
  --om-secondary-subtle3: #a4a4a4;

  --om-success: #551bf8;
  --om-dark: #1b263b;
  --om-dark-subtle: #2c3a56;
  --om-info: #04c4c9;
  --om-info-dark: #0e8590;
  --om-blue: #081d40;
}

:root.theme1 {
  --om-primary: #bb2f98;
  --om-primary-dark: #52063f;
  --om-primary-dark2: #300324;
  --om-primary-subtle: #f743ca;
  --om-primary-subtle2: #f172d1;
  --om-primary-subtle3: #f2a5df;

  --om-secondary: #1b1b1d;
  --om-secondary-subtle: #3c3f46;
  --om-secondary-subtle2: #545760;
  --om-secondary-subtle3: #767a86;

  --om-success: #890baf;
  --om-dark: #570670;
  --om-dark-subtle: #6e0b8c;
  --om-info: #42b7bb;
  --om-info-dark: #307379;
  --om-blue: #3542cf;
}
:root.theme2 {
  --om-primary: #3c1ccd;
  --om-primary-dark: #1d0b6b;
  --om-primary-dark2: #080321;
  --om-primary-subtle: #5435df;
  --om-primary-subtle2: #8169ed;
  --om-primary-subtle3: #9a85f5;

  --om-secondary: #171328;
  --om-secondary-subtle: #201f28;
  --om-secondary-subtle2: #32303a;
  --om-secondary-subtle3: #49484b;

  --om-success: #042bae;
  --om-dark: #182349;
  --om-dark-subtle: #172348;
  --om-info: #42b7bb;
  --om-info-dark: #307379;
  --om-blue: #3542cf;
}

.bg-primary {
  background-color: var(--om-primary) !important;
}
.text-primary {
  color: var(--om-primary) !important;
}
.bg-primary-dark {
  background-color: var(--om-primary-dark) !important;
}
.bg-primary-dark2 {
  background-color: var(--om-primary-dark2) !important;
}
.bg-primary-subtle {
  background-color: var(--om-primary-subtle) !important;
}
.bg-primary-subtle2 {
  background-color: var(--om-primary-subtle2) !important;
}
.bg-primary-subtle3 {
  background-color: var(--om-primary-subtle3) !important;
}
.bg-secondary {
  background-color: var(--om-secondary) !important;
}
.bg-secondary-subtle {
  background-color: var(--om-secondary-subtle) !important;
}
.bg-secondary-subtle2 {
  background-color: var(--om-secondary-subtle2) !important;
}
.bg-secondary-subtle3 {
  background-color: var(--om-secondary-subtle3) !important;
}
.bg-inherit {
  background-color: var(--parent-bg-color);
}

/* ///////////////////////////////////////// */

@font-face {
  font-family: iranSans;
  src: url(../fonts/IRANSansWeb.woff);
}

* {
  font-family: iranSans;
  box-sizing: border-box;
}

body {
  padding-top: 0;
}

.header {
  height: 40vh;
  height: 20vh;
}
.main {
  margin-top: 44vh !important;
  margin-top: 23vh !important;
}

.title-a {
  position: absolute;
  margin-top: -43vh;
  margin-top: -23vh;
}
.title-p {
  position: relative;
}

.cat-item {
  /* width: 150px;
  height: 150px; */
  transition: all 0.4s;
}

.category-title > div {
  background: linear-gradient(to right, var(--om-secondary), transparent, var(--om-secondary));
}

a {
  all: unset;
  cursor: pointer;
}

/* .menu-item {
  height: auto
} */

.menu-item-content {
  position: relative;
  background-color: var(--om-secondary-subtle2);
  word-wrap: break-word !important;
  line-height: 1.5em;
  overflow: hidden;
  height: 90px;
}

.menu-item-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: linear-gradient(to top, var(--om-secondary-subtle2), transparent);
}

.category {
  /* height: 200px; */
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.border-dotted {
  border-style: 2px dotted black;
  border-spacing: 2em;
}

ul > li {
  border-bottom: 3px dashed var(--om-secondary-subtle3);
}
ul > li:last-child {
  border-bottom: none !important ;
}

.black {
  scale: 1.2;
  transition: all 0.7s;
}
li {
  cursor: pointer;
}

.dialog {
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95% !important;
  z-index: 2000;
  position: fixed;
  transition: opacity 1s;
}

.dialog-show {
  visibility: visible;
}
.dialog-hide {
  visibility: hidden;
}

.fade-in {
  animation: fade-in 0.6s forwards;
}
.fade-out {
  animation: fade-out 0.6s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-width {
  animation: fade-in-width 1s forwards;
}
.fade-out-width {
  animation: fade-out-width 1s forwards;
}

@keyframes fade-in-width {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}
@keyframes fade-out-width {
  0% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}

.dialog img {
  max-width: 100%;
}

.dialog-desc {
  background: linear-gradient(var(--om-secondary-subtle2) 0%, transparent 60%);
}

.dialog-title-container {
  width: 100%;
  touch-action: pan-x;
}

.dialog button:active {
  box-shadow: inset 0 0 0 2px var(--om-secondary-subtle2) !important;
}

.add-btn:hover {
  background-color: var(--om-primary-dark2) !important;
  transition: all 0.5s;
}

.added-to-card {
  text-align: center;
}
.added-to-card ul {
  all: unset;
}
.added-to-card ul > li:nth-child(odd) {
  all: unset;
  cursor: pointer;
}
.added-to-card ul > li:nth-child(even) {
  all: unset;
  cursor: default !important;
  opacity: 0.7;
}

.order-list-icon {
  cursor: pointer;
  z-index: 3000 !important;
}
.order-list-content {
  z-index: 1 !important;
}

.theme-container {
  z-index: 1040 !important;
}
.theme-active {
  left: 0%;
  animation: theme-open 1s forwards;
}

@media (max-width: 576px) {
  .theme-hide {
    left: -10%;
    animation: theme-close 1s forwards;
  }
  @keyframes theme-open {
    from {
      left: -10%;
    }
  }
}

@media (min-width: 576px) {
  .theme-hide {
    left: -7%;
    animation: theme-close 1s forwards;
  }
  @keyframes theme-open {
    from {
      left: -7%;
    }
  }
}
@media (min-width: 768px) {
  .theme-hide {
    left: -4%;
    animation: theme-close 1s forwards;
  }
  @keyframes theme-open {
    from {
      left: -4%;
    }
  }
}

@media (min-width: 992px) {
  .theme-hide {
    left: -3%;
    animation: theme-close 1s forwards;
  }
  @keyframes theme-open {
    from {
      left: -3%;
    }
  }
}

@keyframes theme-close {
  from {
    left: 0%;
  }
}

.theme-settings-icon {
  z-index: 2050 !important;
  cursor: pointer;
}
.themes span {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 3s linear infinite;
}


.close-card-btn{
  cursor: pointer;
}