body {
  height: 100vh;
  background: linear-gradient(rgb(71, 65, 65) 10%, rgb(39, 37, 37) 90%);
}

.repeat {
  color: rgb(60, 215, 49);
  background-color: #0b3d89;
}

#repeat:hover {
  color: rgb(60, 215, 49);
  background-color: #0b3d89;
}

.random {
  color: rgb(118, 26, 126);
  background-color: #162030;
}

#random:hover {
  color: rgb(118, 26, 126);
  background-color: #162030;
}

.progress-container {
  margin: 40px auto;
  background-color: white;
  border-radius: 100%;
  width: 80%;
  height: 5px;
  cursor: pointer;
  position: relative;
}

.progress {
  background-color: #1ed760;
  width: 0%;
  box-shadow: 0px 0px 2px 3px rgba(127, 180, 20, 0.639);
  height: 100%;
  border-radius: 35%;
}

.duration {
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
}

.current-duration {
  position: absolute;
  left: 0;
  top: -30px;
}

.total-duration {
  position: absolute;
  right: 0;
  top: -30px;
}
