/*! CSS Used from: Embedded */


@font-face {
  font-family: iranSans;
  src: url(../fonts/IRANSansWeb.woff);
}

* {
  font-family: iranSans;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
*,
:after,
:before {
  box-sizing: border-box;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
img {
  vertical-align: middle;
}
:hover {
  -moz-outline-style: none;
}
:focus {
  outline: none;
  -moz-outline-style: none;
}
h1 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #424242;
}
h1 {
  font-size: 35px;
}
small {
  font-size: 80%;
  font-weight: 400;
}
.d-table {
  display: table !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.px-3 {
  padding-left: 1rem !important;
}
.px-3 {
  padding-right: 1rem !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
.mx-auto {
  margin-left: auto !important;
}
.mx-auto {
  margin-right: auto !important;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
img {
  max-width: 100%;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-group button {
  border: 0;
  border-radius: 6px;
  padding: 8px 6px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}
.input-group button:disabled {
  opacity: 0.4;
}
.input-group button:active {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.simple-menew .swiper-inner {
  width: 100%;
}
.simple-menew .swiper-inner .swiper-container {
  height: 100%;
}
.simple-menew .threed-slide {
  background-position: 50% !important;
  background-size: cover !important;
  width: 100% !important;
  height: 100% !important;
}
.simple-menew .bounce-in-fwd {
  -webkit-animation: bounce-in-fwd 0.8s linear both;
  animation: bounce-in-fwd 0.8s linear both;
}
@media (max-width: 799px) {
  .simple-menew .bounce-in-fwd {
    -webkit-animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
.simple-menew.dialog-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow-y: overlay;
}
@media (min-width: 800px) {
  .simple-menew.dialog-container {
    background-color: rgba(4, 5, 6, 0.8);
  }
}
.simple-menew.dialog-container .dialog-header {
  float: right;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60%;
}
.simple-menew.dialog-container .dialog-header > div:last-child {
  height: 430px;
}
@media (max-width: 800px) {
  .simple-menew.dialog-container .dialog-header > div:last-child {
    height: 100%;
  }
}
.simple-menew.dialog-container .dialog-header .dialog-header-icons {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#102041),
    color-stop(42%, rgba(18, 34, 65, 0.729412)),
    color-stop(64%, rgba(19, 35, 65, 0.560784)),
    to(rgba(22, 39, 65, 0))
  );
  background: -webkit-linear-gradient(top, #102041, rgba(18, 34, 65, 0.729412) 42%, rgba(19, 35, 65, 0.560784) 64%, rgba(22, 39, 65, 0));
  background: linear-gradient(180deg, #102041, rgba(18, 34, 65, 0.729412) 42%, rgba(19, 35, 65, 0.560784) 64%, rgba(22, 39, 65, 0));
  position: absolute;
  right: 0;
  z-index: 9;
}
.simple-menew.dialog-container .dialog-description {
  background-color: #162741;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 9;
  top: -5px;
}
.simple-menew.dialog-container .dialog-description .touch-trigger {
  width: 68px;
  height: 6px;
  background-color: hsla(0, 0%, 100%, 0.21961);
  border-radius: 50px;
  margin: 14px auto 0;
  position: relative;
  z-index: 99;
  display: table;
}
.simple-menew.dialog-container .dialog-description > .dialog-description-inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a2e62), to(#162741));
  background: -webkit-linear-gradient(top, #1a2e62, #162741);
  background: linear-gradient(180deg, #1a2e62, #162741);
  min-height: 122px;
  border-radius: 10px;
  position: relative;
}
.simple-menew.dialog-container .dialog-cart-action {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 61, 84, 0)), color-stop(56%, rgba(22, 38, 70, 0.8)), to(#102042));
  background: -webkit-linear-gradient(top, rgba(46, 61, 84, 0), rgba(22, 38, 70, 0.8) 56%, #102042);
  background: linear-gradient(180deg, rgba(46, 61, 84, 0), rgba(22, 38, 70, 0.8) 56%, #102042);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
  padding-top: 0;
}
.simple-menew.dialog-container .dialog-cart-action .trigger-drag {
  float: right;
  width: 100%;
  height: 50px;
}
.simple-menew.dialog-container .dialog-cart-action button.add {
  width: 96%;
  margin: auto;
  display: table;
  border-radius: 50px;
  font-weight: 500;
}
.simple-menew.dialog-container .dialog-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #162741;
}
.simple-menew.dialog-container .dialog {
  width: 450px;
  max-height: 100%;
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
@media (min-width: 800px) {
  .simple-menew.dialog-container .dialog,
  .simple-menew.dialog-container .dialog .dialog-scroll {
    max-height: 734px;
  }
}
@media (max-width: 800px) {
  .simple-menew.dialog-container .dialog {
    background-color: #162741;
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: relative;
    margin-top: 0;
  }
}
.simple-menew.dialog-container .dialog .dialog-scroll {
  float: right;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.simple-menew.dialog-container .dialog .dialog-content {
  margin-top: 40px;
  min-height: 230px;
  height: 100%;
}
.simple-menew.dialog-container .dialog-title {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.simple-menew .pinch-zoom-content,
.simple-menew .pinch-zoom-wrapper {
  height: 100%;
}
/*! CSS Used from: Embedded */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}
.swiper-wrapper {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
/*! CSS Used from: Embedded */
.pinch-zoom-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.pinch-zoom-content {
  height: inherit;
}
/*! CSS Used from: Embedded */
.dialog-container .dialog {
  background-color: #2d2d2e !important;
}
.dialog-container .dialog-title {
  color: #fff !important;
}
.dialog-container .dialog-content-text {
  color: #fff !important;
}
.simple-menew.dialog-container .dialog-content {
  background-color: #2d2d2e !important;
}
.dialog-container .dialog-header .dialog-header-icons {
  background: linear-gradient(to bottom, #2d2d2e, #2d2d2eba 42%, #2d2d2e8f 64%, #2d2d2e00) !important;
}
.dialog-container .dialog-description {
  background-color: #2d2d2e !important;
}
.dialog-container .dialog-description > div {
  background: linear-gradient(to bottom, #444446, #2d2d2e) !important;
}
.dialog-container .dialog-title small {
  color: #dc5f00 !important;
}
.dialog-container .dialog-cart-action {
  background: linear-gradient(to bottom, #2d2d2e00, #2d2d2ecc 56%, #2d2d2e) !important;
  color: #fff !important;
}
.dialog-container .dialog-cart-action button {
  background-color: #dc5f00 !important;
  color: #000 !important;
}
/*! CSS Used keyframes */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
  }
}
