/* UNIVERSAL */

@font-face {
    font-family: "IranYekan";
    src: url(fonts/iranyekanwebregular.woff2) format(woff2);
  }
  @font-face {
    font-family: "Neuropol";
    src: url(fonts/Neuropol.woff2) format(woff2);
  }
  :root {
    --font-family: IranYekan, sans-serif;
    scroll-behavior: smooth;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
    direction: rtl;
    /* max-width: 100vw; */
  }
  
  .container {
    width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c3c3ce;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9898a6;
  }
  
  ul {
    list-style: none;
  }
  
  .clearfix {
    clear: both;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* UNIVERSAL */
  
  /* HEADER Start */
  
  .fixed-top {
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 10;
    padding-bottom: 8px;
    /* visibility: hidden; */
  }
  
  .header-top-img {
    width: 100vw;
    z-index: 9;
  }
  
  .header-bar {
    position: relative;
    z-index: 3;
  }
  
  .header-content-left {
    float: left;
    padding-left: 20px;
  }
  
  .header-content-right {
    float: right;
    padding-right: 20px;
  }
  a.portfolio {
    color: black !important;
    font-size: 1.4em !important;
    float: left;
  }
  
  .ver-line1 {
    width: 0.1em;
    height: 1.8em;
    background-color: lightgray;
    margin-left: 1em;
    float: left;
  }
  
  a.register {
    border: solid 2px #e5e5ea;
    border-radius: 10px;
    padding: 0.6em 0.8em;
    margin-left: 1.5em;
    font-size: 0.8em;
    float: left;
  }
  a.register > * {
    float: left !important;
    margin: 0.2em;
  }
  
  .header-content-right * {
    float: right;
  }
  .logo-image {
    float: right;
    margin-top: 12px;
  }
  .search-bar {
    float: right;
    border: none;
    height: 3em;
    width: 500px;
    background-color: #f1f2f7;
    position: relative;
    margin-right: 30px;
    border-radius: 15px;
  }
  
  .search-bar-input {
    float: right;
    margin-right: 25px;
    border: none;
    width: 400px;
    height: 85%;
    position: relative;
    right: -5px;
    top: 3px;
    background-color: transparent;
    outline: none;
  }
  .search-bar i {
    float: right;
    position: relative;
    top: 7px;
    margin-right: 20px;
    color: #9e9fb1;
    font-size: 1.2em;
  }
  
  /* Menu */
  .menu-content {
    height: 40px;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 130px;
  }
  
  .location {
    float: left;
    position: relative;
  }
  
  .location i.fi-xnluxl-map-marker {
    font-size: 1.1em;
    position: relative;
    top: -4px;
  }
  
  .category-div {
    position: relative;
    height: 100%;
  }
  
  .category-menu2 {
    position: absolute;
    /* border: solid 2px green; */
  }
  
  /* Category Menu Start */
  
  span.vertical-line {
    width: 2px;
    height: 60%;
    background-color: red;
    display: inline-block;
    position: absolute;
    right: 0.9em;
  }
  
  .category-menu {
    position: absolute;
    top: 73%;
    right: 0%;
    background-color: #f5f5f5;
    z-index: 5;
    height: 65vh;
    width: 12vw;
    border-radius: 0px 0px 10px 0px;
    display: none;
  }
  
  .category-menu td,
  .category-menu th {
    width: 100vw;
    position: relative;
  }
  
  .category-menu li {
    padding: 15px;
  }
  .category-menu li:hover {
    background-color: white;
    color: red;
  }
  
  .categoty-sub {
    width: 65vw;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    right: 12vw;
    border-radius: 0px 0px 0px 10px;
    position: absolute;
    top: 0%;
    right: 100%;
    overflow-y: auto;
    display: none;
    color: initial;
  }
  
  .categoty-sub-col {
    float: right;
    width: 25%;
  }
  
  .cat-viewall {
    display: block;
    color: #008eb2;
    width: 100%;
    padding: 20px 15px;
  }
  
  .categoty-sub-col th {
    font-size: 1.1em;
    opacity: 0.8;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-right: 1.5em;
    text-align: right;
  }
  
  .categoty-sub-col td {
    font-size: 1em;
    opacity: 0.6;
    padding: 0.5em 0.8em;
  }
  
  .categoty-sub-col a {
    display: inline-block;
    width: 100%;
  }
  
  .cat-beauty {
    width: 48.75vw !important;
  }
  .beauty-li .categoty-sub-col {
    width: 33.33%;
  }
  
  /* hover */
  
  .category-menu2:hover .category-menu {
    display: block;
  }
  
  .category-menu td:hover,
  .category-menu th:hover,
  .category-menu a:hover {
    color: red;
  }
  
  .category-menu .mobile-li:hover .cat-mobile {
    display: block !important;
  }
  
  .category-menu .digital-li:hover .cat-digital {
    display: block !important;
  }
  .category-menu .kitchen-li:hover .cat-kitchen {
    display: block !important;
  }
  .category-menu .dress-li:hover .cat-dress {
    display: block !important;
  }
  .category-menu .supermarket-li:hover .cat-supermarket {
    display: block !important;
  }
  .category-menu .books-li:hover .cat-books {
    display: block !important;
  }
  .category-menu .toys-li:hover .cat-toys {
    display: block !important;
  }
  .category-menu .beauty-li:hover .cat-beauty {
    display: block !important;
  }
  .category-menu .sport-li:hover .cat-sport {
    display: block !important;
  }
  .category-menu .tools-li:hover .cat-tools {
    display: block !important;
  }
  .category-menu .cars-li:hover .cat-cars {
    display: block !important;
  }
  .category-menu .native-li:hover .cat-native {
    display: block !important;
  }
  
  /* Category Menu End */
  
  a.category {
    float: right;
    padding: 0px 20px 10px 20px;
    font-weight: 600;
    border-left: solid 1px #000;
    position: relative;
  }
  .category > p {
    float: right;
    padding: 0px 0px;
    font-weight: 600;
  }
  .category > i {
    float: right;
    padding: 0px 0px;
  }
  .navbar {
    float: right;
    margin-right: 9%;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    float: right;
    padding: 0px 20px;
  }
  
  .navbar ul li:hover .underline {
    background-color: red;
    width: 100%;
    transition: all 0.4s ease;
  }
  a.category:hover .underline2 {
    background-color: red;
    width: 100%;
    transition: all 0.4s ease;
  }
  
  .underline {
    height: 2px;
    width: 0px;
    background-color: red;
    margin-top: 10px;
  }
  .underline2 {
    height: 2px;
    width: 0px;
    background-color: red;
    margin-top: 28px;
  }
  
  .navbar ul li.nav-question {
    border-right: solid 1px #000;
  }
  
  .nav-icon {
    opacity: 0.3 !important;
    font-size: 0.9em !important;
    position: relative;
    top: -3px;
  }
  
  /* HEADER End */
  




  /* Product Start */

.product-container{
  max-width: 100vw;
  padding: 10px;
}

.product{
  width: 100%;
  padding: 10px;
}

.product-topbar{
  padding: 10px;
  border-top: solid 2px lightgray;
  font-size: 0.8em;
  opacity: 0.6; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-topbar >div {
  display: flex;
  justify-content: space-between;
}

ul.breadcrump , ul.breadcrump2{
list-style: none;
float: right;
}
.breadcrump li{
  display: inline-block;
  padding: 10px;
}


.breadcrump li+li ::before{

  padding: 10px;
  color: black;
  content: "/\00a0";
}


.breadcrump2 li{
  display: inline-block;
  padding: 5px;
  font-size: 0.9em;
  opacity: 0.6; 
  color: #37C5D9;
}



.product-topbar>div>a {

  float: left;
  padding: 10px 20px 10px 20px;
  
}



/* Product */

.product-right{
  padding: 20px 0px;
  width: 35%;
  float: right;
  
}



.product-center{
  padding: 20px 0px;
  width: 44%;
  float: right;
}


.product-left{
  padding: 20px 0px;
  width: 20%;
  margin-right: 0.5em;
  float: right;
  position: relative;
  top: 6em;
}
.product-left .div-top{
  
  background-color: #F6F6F7;
  border: solid 1px lightgray;
  border-radius: 10px;
}


.fave-navbar{
  float: right;
  width: 10%;
}

.product-image-div{
  float: left;
  width: 90%;
}


.product-image-div img {
  width: 100%;
  
}


.fave-navbar>ul{
  list-style: none;
}
.fave-navbar>ul>li{
  padding: 10px;
  font-size: 1.2em;
}

.h3-title {
  
  width: 140%;
  
}



fieldset.product-subtitle{
  margin-bottom: 20px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: solid 1px #E0E0E6;
}


fieldset.product-subtitle >legend {
  padding: 10px;
  font-size: 0.75em;
  opacity: 0.4;
}
fieldset.product-subtitle .product-rate >i:nth-of-type(1) {
color: #F7A821;
font-size: 0.8em;
}
fieldset.product-subtitle .product-rate >i:nth-of-type(2) , i:nth-of-type(3){
color: black;
opacity: 0.2;
font-size: 0.6em;
}
fieldset.product-subtitle .product-rate span:nth-of-type(1){
  font-size: 0.8em;
}
fieldset.product-subtitle .product-rate span:nth-of-type(2){
  font-size: 0.6em;
  opacity: 0.5;
}
fieldset.product-subtitle .product-rate a span:nth-of-type(1){
  font-size: 0.7em;
  color: #37C5D9;
  
}

fieldset.product-subtitle .likes i.like-ico{
  color: green;
  font-size: 0.7em;

}
  
fieldset.product-subtitle .likes span:nth-of-type(1){
  opacity: 0.8;
  font-size: 0.75em;
  

}
fieldset.product-subtitle .likes i.info-ico{
  color: rgba(0, 0, 0, 0.291);
  /* opacity: 0.4; */
  font-size: 0.7em;
  position: relative;
  top: -2px;
}

fieldset.product-subtitle .likes i.info-ico:hover::after {
  padding: 10px;
  line-height: 2em;
  border-radius: 10px;
  background-color: #3F4064;
  color: white;
  font-size: 1em;
  display: inline-block;
  width: 24em;
  content: "خریداران کالا با انتخاب یکی از گزینه های پیشنهاد یا عدم پیشنهاد ، تجربه خود را با کاربران به اشتراک می گذارند.";
  text-align: justify;
  position: absolute;
  left: -130px;
  top: 30px;
  z-index: 5;
}
  
fieldset.product-subtitle .title-h4{
  margin: 1em auto;
}
.color-label{
  display: inline-block;
}
.color {
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  border: solid 4px rgb(229, 229, 229);
  position: relative;
}
.color p{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-52%);
}

input.color-input{
  visibility: hidden;
  position: absolute;
}

input:checked ~ div  {
  border: solid 4px #19BFD3;
}

.fi-xwsuxl-check {
  position: absolute;
  right: 2px;
  visibility: hidden;
  color: white;
}

input:checked ~ div p i{
  visibility: visible;
}

.color1 p{
  background-color: #212121;
}

.color2 p{
  background-color: #F44336;
}
.color3 p{
  background-color: #2196F3;
}
.color4 p{
  background-color: #FF80AB;
}
.color5 p{
  background-color: #007E33;
}

.insuranc-box{
  
  height: 60px;
  border: solid 1px lightgray;
  border-radius: 10px;
}
.insuranc-right{
  float: right;
  width: 7%;
  height: 100%;
  border-left: solid 1px lightgray;
  position: relative;
  
}

.insuranc-left{
  float: left;
  width: 90%;
  height: 100%;
  position: relative;
  
}
.insuranc-left p{
line-height: 2.2em;
font-size: 0.8em;
  
}
.insuranc-left a{
float: left;
  
}

.insuranc-right input[type='checkbox'] {
  scale: 1.5;
  accent-color: #008EB2 !important;
  position: absolute;
  top: 56%;
  left: 56%;
  transform: translate(-50%,-50%);
}

.insuranc-left span:nth-of-type(2) {
  text-decoration: line-through;
  font-size: 0.9em;
  opacity: 0.3;
}
.insuranc-left span:nth-of-type(3) {
  font-size: 0.9em;
}



.offer-percent {
  background-color: #ef3a50;
  border-radius: 10px;
  padding: 0px 10px;
  color: white;
  font-size: 0.9em;
}


.viewall {
  color: #31C6D8;
  width: 100%;
  padding: 20px 15px;
  font-size: 0.8em;
}


.details-product-ul {
  list-style: none;
  padding-right: 10px;
  margin: 15px auto;
  
}
.details-product-ul li::before {
  content: "\2022";
  font-size: 1.2em;
  opacity: 0.5;
  display: inline-block;
  position: relative;
  top: 0.19em;
}

.details-product-ul li>span:nth-of-type(1) {
  opacity: 0.6;
  font-size: 0.85em;
}
.details-product-ul li>span:nth-of-type(2) {
  font-size: 0.9em;
  font-weight:600;
}


.sending-desc > i{
  float: right;
  width: 2%;
  opacity: 0.5;
  font-size: 0.7em;
  padding-right: 10px;
  
}
.sending-desc > span{
  float: left;
  width: 97%;
  text-align: justify;
  font-size: 0.75em;
  opacity: 0.6;
  padding: 0px 15px ;
  line-height: 2em;
  
}


.sending-free
{
  border: solid 1px lightgray;
  border-radius: 10px;
  height: 5em;
  margin: 20px auto;
  
}

.sending-free h4{
  float: right;
  margin-top: 25px;
  padding-right:20px ;
  
}
.sending-free img{
float: left;
margin-left: 20px;
height: 90%;

}


.sending-digiplus{
  padding: 20px 0px;
  border: solid 1px lightgray;
  border-radius: 10px;
}
.sending-digiplus .sending-digiplus-title{
float: right;
font-size: 0.9em;
font-weight: bold;
padding-right:10px ;
}

.sending-digiplus i {
  float: right;
  padding-right: 7px;
  color:#AD2CA0 ;
}

.sending-digiplus > a{
float: left;
}



.sending-digiplus ul  li::before{
  content: "\2022";
  display: inline-block;
  color: #AD2CA0;
  font-size: 1.4em ;
  padding: 0.1em 0.5em;
  position: relative;
  top: 0.19em;
  
  
}

.sending-digiplus ul li span {
    font-size: 0.75em;
  opacity: 0.7;
  }



.image-thumbs{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.image-thumbs img{
  display: inline-block;
  width: 14%;
  margin: 0.5%;
  height: 80px;
  border: solid 1px lightgray;
  border-radius: 10px;
  
}


.image-thumbs >a:first-child , .image-thumbs >a:last-child {
  filter: blur(5px);
}

.product-right i.fi-cnldxl-exclamation-mark {
  opacity: 0.4;
  font-size: 0.7em;
  margin-right: 20px;
  position: relative;
  top: -2px;
  
}


.product-right .report-link {
  opacity: 0.8;
  font-size: 0.8em;
  margin-right: 10px;
  
}


.seller-box{
  padding: 8px 15px;
}
.seller-box > div{
  border-bottom: solid 1px lightgray;
  padding-bottom: 15px;
}

.seller-box > div > span:nth-child(1){
  
  margin-bottom: 25px;
  display: inline-block;
  }
.seller-box > div > a:nth-child(2){
  float: left;
  font-size: 0.9em;
  }
.seller-box > div > .logo-image{
  height: 1.2em;
  border-radius: 0px 8px 8px 0px;
  position: relative;
  top: -9px;
  

}

.seller-box > div > p:nth-of-type(1){
  margin-right:40px;
}

.pop-box {
  margin-top: 15px;
  width: 100%;
}

 .pop-box-right{
  float: right;
  width: 40%;
  text-align: left;
  padding-left: 10px;
  font-size: 0.8em;
  border-left: solid 1px lightgray;

}
.pop-box-left{
  float: right;
  width: 40%;
  padding-right: 10px;
  font-size: 0.8em;
  

}

.pop-box-right span:nth-of-type(1){
  color: #B1B64D;
}
.pop-box-right span:nth-of-type(2){
  opacity: 0.7;
  font-size: 0.95em;
}
.pop-box-left span:nth-of-type(1){
  opacity: 0.7;
  font-size: 0.95em;
}
.pop-box-left span:nth-of-type(2){
  color: #00A049;
  font-size: 0.95em;
}



.garanti-box {
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  margin: 0px auto;
  width: 90%;
  
}
.garanti-box span{
  font-size: 0.8em;
  position: relative;
  top: 2px;
  right: 10px;
  
}
.inventory-box{
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  margin: 0px auto;
  width: 90%;

}
.inventory-box i:nth-child(1){
  color: #19BFD3;
  font-size: 1.1em;

}
.inventory-box span:nth-child(3){
  float: left;
  font-size: 2em;
  margin-left: 20px;
  opacity: 0.7;
  position: relative;
  top: -10px;
}



.inventory-box-ul li span{
  opacity: 0.8;
  font-size: 0.7em;
  padding-right: 10px;

}
.inventory-box-ul li::before {
  content: "\2022";
  font-size: 1.2em;
  color: #19BFD3;
  display: inline-block;
  position: relative;
  top: 0.19em;

}



.score-box{
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  margin: 20px auto;
  width: 90%;
  
}

.score-box i:nth-child(1){
  color: #FCA400;
  font-size: 0.8em;
  position: relative;
  top: -0.2em;
  margin-left: 10px;
}

.score-box i:nth-child(3){
  opacity: 0.3;
  font-size: 0.8em;
  font-size: 0.7em;
  position: relative;
  right: 0.5em;
  top: -0.2em;
}

.cart-box> a>i{
  color: #F9A825;
  font-size: 0.7em;
  margin-left: 0.5em;
  position: relative;
  top: -1px;
}
.cart-box> a>span:nth-child(2){
  
  font-size: 0.7em;
  
  
}
.cart-box> a>span:nth-child(3){
  
  float: left;
  
  
}
.cart-box>a.other-sellers {
  background-color: #F7EBE1;
  border-radius: 10px;
  display: block;
  padding: 8px 15px;
  border-bottom: solid 1px lightgray;
  width: 90%;
  margin: 0px auto;

}

.cart-price{
  direction: ltr;
}

.cart-price span:nth-child(1){
  direction: ltr;
  font-weight: bold;
  margin: 15px ;
  display: inline-block;
}
.cart-price span:nth-child(2){
 text-decoration: line-through gray;
 font-size: 0.8em;
 opacity: 0.5;
}
.cart-price p{
  direction: inherit;
  font-weight: bold;
  margin: 5px 15px ;
}
.cart-price .add-cart{
  display: block;
  background-color: #EF4056;
  border-radius: 10px;
  padding: 12px ;
  text-align: center;
  margin: 5px 15px ;
  color: white;
  font-size: 0.8em;
}

.product-left .price-supervision{
  border: solid 1px lightgray;
  border-radius: 10px;
  width: 100%;
  margin: 20px auto;
  padding: 10px 20px;
  display: block;
  
}
.product-left .price-supervision i{
  opacity: 0.5;
  font-size: 0.8em;
  margin-left: 0.2em;
  position: relative;
  top: -0.1em;
 
}
.product-left .price-supervision  span:nth-of-type(1){
  opacity: 0.7;
  font-size: 0.75em;
  
 
}
.product-left .price-supervision  span:nth-of-type(2){
  float: left;
  opacity: 0.5;
  font-size: 1.75em;
  position: relative;
  top: -0.3em;
  
}

.price-better{
  direction: ltr;
  opacity: 0.5;
  font-size: 0.75em;
   margin-bottom: 100px;
  width: 100%;
}
.price-better a{
  margin-left: 1em;
}




.delivery-post{
 
  padding: 15px 0px;
  border-top: solid 1px rgba(211, 211, 211, 0.315);
  border-bottom: solid 5px rgba(211, 211, 211, 0.315);
}
.delivery-post .delivery{
  text-align: center;
  float: right;
  width: 20%;
}

.delivery-post .delivery span {
  opacity: 0.58;
  font-size: 0.75em;
  position: relative;
  top: -1em;
}


.horizontal-line{
  height: 2px;
  width: 4.5em;
  background-color: red;
  margin: 20px 0px;
}


.all-sellers-table{
  width: 100%;
  border-collapse: collapse;
  
  
}

@media (max-width: 576px) {

  .all-sellers-table tr > td:nth-of-type(2) , .all-sellers-table tr > td:nth-of-type(3) {
      display: none;
    }
}

.all-sellers-table td{
  width: 25%;
  
  
}
.all-sellers-table tr:nth-of-type(even){
  background-color: #F7F7F8;
  
  
}


.logo-div{
  float: right;
  width: 8%;
 position: relative;
 top: 1.8em;
 right: 1em;
  
}
.logo-div img {
  width: 80%;
  border-radius: 0px 8px 8px 0px;
  
}


.all-sellers{
  padding: 10px;
}

.seller-info{
  float: left;
  width: 92%;
}
.seller-info > p{
  display: inline-block;
  padding-right: 35px;

}


.seller-info .digiplus-service {
  background: linear-gradient(to left, #F7EFF5, #FDFAFC);
  border-radius: 10px;
  margin: 15px 40px;
  
}


.digiplus-service i  {
  color: #B12BA4;
  float: right;

}
.digiplus-service span:nth-of-type(1)  {
  
  float: right;
  color: #B12BA4;
  font-size: 0.8em;

}
.digiplus-service span:nth-of-type(2)  {
  float: right;
  opacity: 0.7;
  font-size: 0.7em;

}

.all-sellers-table td:nth-of-type(2)>i{
  color: red;
}
.all-sellers-table td:nth-of-type(2) p,
.all-sellers-table td:nth-of-type(2) span {
  font-size: 0.8em;
  opacity: 0.8;
}

.all-sellers-table td:nth-of-type(4) span{
  font-weight: bold;
  margin-right: 25%;
}
.all-sellers-table td:nth-of-type(4) a{
  background-color: #EF4056;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.8em;
  
}

.viewmore-container{
  border-bottom: solid 5px rgba(211, 211, 211, 0.533);
  
}

.viewmore {
  display: block;
  color: #008eb2;
  width: 100%;
  padding: 20px 15px;
  font-size: 0.85em;
}


.similar-products{

  border:  solid 2px lightgray;
  border-radius: 15px;
  width: 100%;
  margin: 1em auto;
  padding: 20px;
  
}

.similar-products-table{
  width: 100%;
  height: fit-content;
}



.similar-products-table div {
  padding: 15px;
  width: 14.28%;
  float: right;
}
.similar-products-table div p:nth-of-type(1) {
  font-size: 0.7em;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.similar-products-table div i {
  color: #1028FF;
  
  

}
.similar-products-table div span:nth-of-type(1) {
  font-size: 0.65em;
  opacity: 0.8;
  line-height: 3.5em;

}
.similar-products-table div p:nth-of-type(2) {
  /* margin: 2em 1em; */
  direction: ltr;
  

}

.similar-products-table div img {
  width: 100%;
  
}

.ad{
  width: 100%;
}

.ad img{
  width: 100%;
  border-radius: 10px;
}



.comments{
  width: 100%;
  position: relative;
}


.center-right{
  position: relative;
  float: right;
  width: 82%;
  
}

.comments-navbar{
  background-color: white;
  z-index:5;
  position: sticky;
  top: 0px;

}



.comments-navbar li{
  float: right;
  padding: 10px;
  font-size: 0.75em;
  position: relative;
}


.comments-navbar li:hover::after{
  content: "";
  display: block;
  position: absolute;
  background-color: red;
  width: 80%;
  height: 2px;
  right: 10%;
  margin: 0.3em auto;
}
.hr-brake {
  width: 100%;
  height: 2px;
  background-color: lightgray;
  
}

.hr-brake2 {
  width: 95%;
  margin: 1em auto;
  height: 4px;
  background-color: #F1F2F4;
  
}

.comments h4 {
  margin: 20px 0px;
}
@media (max-width: 576px) {
  .comments-box{
position: static !important;
  }  

}


.comments .right-side{
  float: right;
  width: 25%;
  padding-bottom: 3em;
  position: sticky;
  top:150px;
}

.comments .right-side a:nth-of-type(1) {
  display: block;
}


.comments .center{
  float: right;
  width: 75%;
  padding: 10px;
}
.comments .left-side{
  float: right;
  padding: 1.2em;
  border-radius: 0.5em;
  border: solid 1px lightgray;
  width: 18%;
  background-color: #F7F7F8;
  /* background-color: gray; */
  position: sticky;
  top:160px;
}


.comments-box.right-side span:nth-of-type(2){
font-size: 0.6em;
line-height: 3em;
}

.comments-box.right-side p>i{
  color: #F6A924 !important;
  opacity: 1;
  font-size: 1em;
  line-height: 3em;
  
  
}

.comments-box.right-side p:nth-of-type(3){
  font-size: 0.7em;
  line-height: 3em;
}


.comments-box.right-side a{
  display: block;
  width: 90%;
  border: solid 1px #EF4056;
  border-radius: 10px;
  padding: 13px 32%;
  margin: 1em auto;
  color: #EF4056;
  font-size: 0.8em;

}

.comments-box.right-side >i {
  opacity: 0.5;
  font-size: 0.8em;
}

.comments-box.right-side .digiclub-rate{
  font-size: 0.73em;
  line-height: 2em;
  padding-right: 0.5em;
  opacity: 0.9;
  
}
.comments-box.right-side p.digiclub-rate{
  padding-right: 2em !important;
  width: 90%;
  text-align: justify;
}

.comments-box.center>p:nth-of-type(1)>* {
  font-size: 0.7em;
}
.comments-box.center>p:nth-of-type(1)>i.fi-xwluhl-thumb-wide {
  color: green;
  position: relative;
  top: -0.3em;
}
.comments-box.center>p:nth-of-type(1)>i.fi-cnldxl-exclamation-mark {
  position: relative;
  top: -0.2em;
  opacity: 0.4;
}


.comments .users-pic {
  width: 70%;
  height: 7em;
  overflow: hidden;
  padding: 20px;
  
}
.comments .users-pic img {
  width: 12%;
  height: 100%;
  object-fit: cover;
  scale: 0.8;
  margin-left: 3%;
  border-radius: 10px;


}
ul.comments-filter {
  border-top: solid 1px lightgray;
  padding-top: 0.5em;
  padding-bottom: 2em;
}


ul.comments-filter li {
  float: right;
  padding: 5px 10px;
  font-size: 0.8em;

}
ul.comments-filter a:nth-of-type(2) {
  color: red;
}

ul.comments-filter > span{
  float: left;
  padding: 5px 10px;
  font-size: 0.8em;
}

.quality-box {
  padding-bottom: 1em ;
  border-bottom: solid 1px lightgray;
}

.quality-box p{
  font-size: 0.7em;
  opacity: 0.8;
}

.quality-box-btns a{
  display: inline-block;
  border: solid 1px #E0E0E6;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 0.9em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}


/* Comment Box */


.comment-box{
  padding: 1em 3em 1em 1em;
  border-bottom: solid 1px lightgray;
  width: 100%;
  position: relative;
}

.comment-box .user-info{
  border-bottom: solid 1px rgba(211, 211, 211, 0.484);
  padding-bottom: 1em;
}

.comment-box .user-rate {
  position: absolute;
  right:  0px;
  background-color: #00A049;
  border-radius: 0.4em;
  padding: 0.1em 0.5em;
  color: white;
  font-size: 0.8em;
}

.comment-box .comment-date , .comment-box .user-name{
  font-size: 0.7em;
  opacity: 0.7;
  padding: 0em 0.5em ;

}
.comment-box .user-role{
  font-size: 0.7em;
  font-weight: 800;
  padding: 0em 0.6em ;
  background-color: #EDF7ED;
  color: #2E7D43;
border-radius: 0.5em;
}
.comment-box i:nth-of-type(1){
  font-size: 0.5em;
  opacity: 0.3;
  padding: 0em 0.5em ;

}
.comment-box a>i:nth-of-type(1){
  font-size: 0.7em;
  opacity: 1.3;
  padding-right: 70%  ;
  

}
.comment-suggest {
  padding: 0.5em 0em;
}

.comment-suggest span{
  color: #007E33;
  font-size: 0.8em;
  position: relative;
  top: 0.2em;
}
.comment-suggest i{
  color: #007E33;
  font-size: 0.75em !important;
  opacity: 1 !important;
}

.comment-text{
  font-size: 0.9em;
  padding: 1em 0em;
  border-bottom: solid 1px #EDF7ED;
}

.comment-digi i:nth-of-type(1) {
  opacity: 1;
  font-size: 1em;
}
.comment-digi span:nth-of-type(1) {
  opacity: 0.8;
  font-size: 0.75em;
}
.comment-digi i:nth-of-type(2) {
  opacity: 1;
  padding: 0px;
  font-size: 2em;
}
.comment-digi span:nth-of-type(2) {
  
  font-size: 0.7em;
  position: relative;
  right: -1em;
}

.comment-likes{
  direction: ltr;
}
.comment-likes i{
  opacity: 0.5 !important;
  font-size: 0.8em !important;
  
  
}
.comment-likes span{
  opacity: 0.5;
  font-size: 0.8em;
  
}
.comment-likes span:nth-of-type(3){
  margin-left: 3em;
  opacity: 0.7;
  font-size: 0.8em;
  
}

.cart-product{
  padding-bottom: 1.2em;  
  border-bottom: solid 1px lightgray;
}

.cart-product-image{
  float: right;
  width: 30%;
}

.cart-product-text{
  float: right;
  width: 70%;
  font-size: 0.75em;
  padding-right: 2em;
  
}
.cart-product-text p:first-child{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1em;
}


.cart-product-text span.red-circle{
  display: inline-block;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: #ec3022;
  margin-left: 1em;
  position: relative;
  top: 0.15em;
}

.comments-box.left-side p{
line-height: 2em;
}
.comments-box.left-side p>span{
  font-size: 0.8em;
}
.comments-box.left-side p>i.fi-xwluxl-shield-wide{
  font-size: 0.9em;
}
.comments-box.left-side p>i.fi-xnsuhl-hard-floppy{
  font-size: 0.9em;
  color: #19BFD3;
}
.comments-box.left-side .logo-image{
  width: 6%;
  border-radius: 0 0.4em 0.4em 0 ;
  margin-left: 0.7em;
  opacity: 0.8;
}
.comments-box.left-side p:nth-of-type(1) span{
  position: relative;
  top: 0.45em;
  opacity: 0.8;
}
.comments-box.left-side>h4{
  position: relative;
  width: fit-content;
  right: 60%;
}

.comments-box.left-side>h4>span:last-child {
  font-size: 0.6em;
}
.comments-box.left-side > a {
background-color: #EF4056;
color: white;
font-size: 0.8em;
border-radius: 0.5em;
display: block;
padding: 0.8em 6em;
margin: 0 auto;
text-align: center;
}
/* product-desc Start */

.product-desc{
  width: 82%;
  
}

.intro p:nth-child(3){
  line-height: 2.2em;
  font-size: 0.9em;
}


.analys h4:nth-of-type(2){
  margin-top: 3em;
  font-weight: 400;
}
.analys>div>p{
  text-indent: 1em;
  line-height: 2.2em;
  font-size: 0.9em;
  text-align: justify;
  float: right;
  width: 75%;
}
.analys>div>img{
  text-indent: 1em;
  line-height: 2.2em;
  font-size: 0.9em;
  float: left;
  width: 25%;
}


.details .details-table {
width: 100%;
height: 200px;
border-collapse: collapse;
}
.details .details-table td {
opacity: 0.6;
height: 40px;
width: 20%;
font-size: 0.9em;

}

.details .details-table tr>td:last-child {
width: 60% !important;
opacity: 0.9 !important;

}

.details .details-table tr:first-child > td:first-child {
  position: relative;
  opacity: 1 !important;
  font-size: 1em !important;

}

.details .details-table .details-title{
  font-weight: 400 !important;
  opacity: 1 !important;
  font-size: 1em !important;
  position: absolute;
  top: -5%;
  
}
.details .details-table+a+i {
  margin-left: 1em;
  font-size: 0.7em;
  opacity: 0.7;
}

.details .details-table+a+i+span {
  font-size: 0.8em;
  opacity: 0.7;
}


.questions {
  position: relative;
}

.questions .title-h4 + .horizontal-line{
  margin-bottom: 5em;

}

.questions .set-question{
  float: right;
  width:20% ;
  position: sticky;
  top: 200px;
}
.questions .user-questions{
  float: left;
  width: 80%;
}


.questions .set-question p{
font-size: 0.7em;
opacity: 0.7;

}
.questions .set-question a{
font-size: 0.9em;
color: red;
border:  solid 1px red ;
display: block;
text-align: center;
width: 90%;
border-radius: 0.5em;
padding: 0.5em 1em;
margin: 2em auto;
}

ul.questions-filter {
  border: none !important;
  
}

.questions .user-question {
  border-bottom: solid 1px rgba(211, 211, 211, 0.506);
  padding-top: 2em;
  padding-bottom: 3em;
  margin-left: 2em;
}

.questions .user-question span:nth-of-type(2){
  font-size: 0.9em;
}
.questions .user-question i {
color: #19BFD3;
margin-left: 1.5em;
margin-right: 1em;


}

.user-questions a.viewmore {
  border-bottom: solid 1px lightgray;
  font-size: 0.85em;
  padding-bottom: 2em;
  width: 97%;
  
  
}
/* product-desc End */
/* Comments End */


/* Buy-too Start */
.buy-too {
  padding: 2em 1em;
  border-radius: 0.7em;
  border: solid 1px lightgray;
  
}


.buy-too-products {
  padding: 1em;
  overflow: hidden;
  text-align: center;
}

.buy-too-products>div{
  display: inline-block;
  width: 12.2%;
  border-left: solid 1px rgba(211, 211, 211, 0.499);

}

.buy-too-products>div>img{
  width: 90%;
}
.buy-too-products>div>p:nth-of-type(1){
  font-size: 0.8em;
line-height: 2em;
text-align: right;

}
.buy-too-products>div>i{
  font-size: 0.7em;
  color: #1028FF;
}
.buy-too-products>div>span:nth-of-type(1){
  font-size: 0.7em;
  
}

.buy-too-products>div>p:nth-of-type(2){
  direction: ltr;
  font-weight: 600;
  margin-left: 0.5em;
  line-height: 4em;

  
}
.buy-too-products>div>p>span.offer-percent{
  margin-left: 42%;
}


.buy-too-products>div>p:nth-of-type(3){
  font-size: 0.8em;
  opacity: 0.5;
  text-decoration: line-through gray;
  direction: ltr;
  margin-left: 2em;
}





/* Buy-too End */


  /* Product End */




  
/* Footer */

.footer1 {
  border: solid 1px #e0e0e6;
  border-radius: 10px;
  padding: 30px 10px;
}

.footer-top {
  height: 60px;
}

.footer-top .digilogo {
  height: 30px;
  float: right;
}
.footer-top .digilogo img {
  height: 100%;
  margin-right: 20px;
}

.footer-top .go-top {
  float: left;
  border: solid 1px #e0e0e6;
  border-radius: 10px;
  padding: 10px 15px;
  opacity: 0.6;
  margin-left: 20px;
}
.contact pre {
  font-size: 0.8em;
}

.sending-box {
  padding: 10px;
  margin: 30px;
}

.sending-image-box {
  float: right;
  width: 20%;
  text-align: center;
  font-size: 0.75em;
}

.sending-image-box img {
  width: 20%;
}

/* DigiHelp Start */

.digihelp {
  padding: 20px;
  margin: 30px auto;
}

.digihelp .title-h4 {
  line-height: 2.5em;
}

.digihelp-text {
  font-size: 0.9em;
  opacity: 0.8;
  line-height: 2.5em;
}

.digihelp-col {
  float: right;
}
.digihelp-col1,
.digihelp-col2,
.digihelp-col3 {
  width: 26%;
}
.digihelp-col4 {
  width: 22%;
}

.social-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin: 20px auto;
}

.social-box a {
  width: 20%;
  float: right;
}
.social-box i.social-icon {
  opacity: 0.6;
  font-size: 1.5em;
}

.social-box svg.social-svg {
  opacity: 0.4;
  width: 4.5em;
  transform: translate(5px, -5px);
}

form.email-box input[type="email"] {
  width: 75%;
  background-color: #f1f2f4;
  border: none;
  border-radius: 10px;
  height: 4em;
  padding-right: 20px;
}

form.email-box input[type="email"]::placeholder {
  opacity: 0.8;
  font-size: 1.3em;
}

form.email-box input[type="email"]:focus {
  outline: none;
}

form.email-box input[type="submit"] {
  width: 20%;
  background-color: #e0e0e6;
  color: white;
  border: none;
  border-radius: 10px;
  height: 4em;
  outline: none;
  cursor: pointer;
}

/* DigiHelp End */

/* Footert Market Start */

.footer-market {
  height: 80px;
  background-color: #3c4b6d;
  border-radius: 8px;
  margin: 30px 20px;
  padding: 20px;
  position: relative;
}
.footer-logo-div{
height: 100%;
float: right;

}

@media (max-width:576px) {
  .footer-logo-div {
    height: 35px;
  }
  .footer-market{
    height: initial;
  }

  .footer-market-text{
    font-size: 1em !important;
    top: 30% !important;
  }

  
}

.footer-market img.footer-logo {
  height: 100%;
  float: right;
}

.footer-market-text {
  float: right;
  color: white;
  position: absolute;
  top: 50%;
  right: 4em;
  transform: translateY(-50%);
  font-size: 1.3em;
}
.footer-market-logoes{
  float: left;
}

.footer-market-logo {
  height: 100%;
  
  /* float: left; */
  background-color: white;
  border-radius: 8px;
  margin-right: 10px;
}



/* Footert Market End */

/* footer2 start */

.footer2-right {
  width: 75%;
  float: right;
}

.footer2-left {
  width: 26%;
  float: left;
  text-align: center;
}

.footer2 {
  border: solid 1px #e0e0e6;
  border-radius: 10px;
  padding: 30px 10px;
}

.footer2-title {
  font-size: 1.5em;
  line-height: 1.2em;
  opacity: 0.8;
}

.footer2-text {
  font-size: 0.8em;
  opacity: 0.6;
  height: 80px;
  overflow: auto;
  padding: 20px 0px 20px 50px;
  text-align: justify;
}

.footer2-left a {
  width: 30%;
  height: 115px;
  display: inline-block;
  border: solid 1px #e0e0e6;
  border-radius: 10px;
  margin: 0px;
}
.footer2-left img {
  width: 55%;
  height: 100%;
  object-fit: contain;
}

/* footer2 end */

/* footer3 Digi Online Start */

.footer3-digi-online {
  border-radius: 10px;
}

@media screen and (max-width:576px) {
  .footer3-digi-online {
    display: none;
  }
}


.footer3-title {
  font-size: 0.8em;
  opacity: 0.7;
  text-align: center;
  margin: 40px;
}
.footer3-table {
  border-collapse: collapse;
  width: 100%;
}

.footer3-table a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer3-table td {
  padding: 20px 15px;
  text-align: center;
  width: 11.11%;

  background-color: #f1f2f4;
  border: solid 1px #e0e0e6;
  position: relative;
}

.footer3-table img {
  width: 50%;
}

.f3-image1,
.f3-image3,
.f3-image6,
.f3-image8,
.f3-image13,
.f3-image16,
.f3-image17,
.f3-image18 {
  width: 80% !important;
  margin-top: 6px;
}

/* footer3 Digi Online End */

/* Footer */
