.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95% !important;
  z-index: 2000;
}

.dialog img {
  max-width: 100%;
}

.dialog-desc {
  background: linear-gradient(var(--om-secondary-subtle2) 0%, transparent 60%);
}

.dialog-title-container {
  width: 100%;
  touch-action: pan-x;
}

.dialog button:active {
  box-shadow: inset 0 0 0 2px var(--om-secondary-subtle2) !important;
}
